 @import url(variables.css);

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{

    background-color: var(--color-2);

    color: var(--color-1);
 }

.header{
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.header__pagename{
    /* background-color: yellowgreen; */

    width: 50%;

    display: flex;
    flex-direction: row;
}
.header__pagename h2{
    font-family: "poppinsBold";
    color: var(--color-3);
}
.header__options{
    /* background-color: blue; */

    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header__options a{
    font-family: "poppinsRegular";
    text-decoration: none;
    color: var(--color-1);
}


.Home{
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 5vh;
    margin-left: 20vh;
    margin-right: 20vh;
}
.Home__title{
    /* background-color: yellowgreen; */

    width: 50%;

    padding-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;
}
.Home__title h1{
    /* background-color: red; */
    font-family: "poppinsBold";
    color: var(--color-3);
    font-size: 3rem;
}
.Home__title h3{
    font-family: "poppinsRegular";
    font-size: 1.5rem;
}
.Home__title a{
    text-decoration: none;
    font-family: "poppinsRegular";
    color: var(--color-1);
    
    background-color: var(--color-3);
    padding: 15px;
    border-radius: 15px;
}
.Home__img{
    /* background-color: blue; */
    width: 50%;
    padding: 40px;
}
.Home__img img{
    width: 100%;
}





.AboutUs{
    /* background-color: red; */

    margin: 20vh; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.AboutUs__img{
    /* background-color: blue; */
    width: 50%;
}
.AboutUs__img img{
    width: 100%;
}
.AboutUs__info{
    /* background-color: yellowgreen; */
    width: 50%;

    display: flex;
    flex-direction: column;

    gap: 50px;
}
.AboutUs__info a{
    text-decoration: none;
    font-family: "poppinsRegular";
    color: var(--color-1);
    
    background-color: var(--color-3);
    padding: 15px;
    border-radius: 15px;
}
.AboutUs__info span{
    font-family: poppinsMedium;
    color: var(--color-3);
    font-size: 1.5rem
}
.AboutUs__info h1{
    font-family: poppinsBold;
    color: var(--color-1);
    font-size: 3rem
}
.AboutUs__info p{
    font-family: poppinsRegular;
    color: var(--color-1);
    font-size: 1.5rem
}












.FoodMenu{
    /* background-color: red; */

    margin: 20vh;

    display: flex;
    flex-direction: column;
}
.FoodMenu__title{
    /* background-color: violet; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FoodMenu__title h3{
    font-family: poppinsMedium;
    color: var(--color-3);
    font-size: 1.5rem;
}
.FoodMenu__title h1{
    font-family: poppinsMedium;
    color: var(--color-1);
    font-size: 3rem;
}
.FoodMenu__category{
    /* background-color: blue; */

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    gap: 40px;

}
.FoodMenu__category__box{
    background-color: var(--color-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.FoodMenu__category__box img{
    width: 100%;
}
.FoodMenu__category__boxcar{
    background-color: var(--color-3);
}













.Services{
    background-color: red;

    margin: 20vh; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Services__title{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Services__title div span{
}
.Services__title div h1{
    /* font-size: 5vw; */
}
.Services__list{
    background-color: violet;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Services__list__box{
    background-color: yellowgreen;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Services__list__box__img{
    /* width: 20vw; */
}
.Services__list__box div img{
    background-color: bisque;
    width: 100%;
    padding: 30px;
}
.Services__list__box div h3{
    text-align: center;
    /* font-size: 3vw; */
}
.Services__list__box div p{
    text-align: center;
    /* font-size: 3vw; */
}


















.message{
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 30vh;
    margin-bottom: 30vh;
    padding: 60px;

}
.message__block{

    background-color: var(--color-4);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 60px;

    gap: 30px;
}
.message__block div h1{
    font-size: 5vw;
    text-align: center;
}



















.footer{

}
.footer__section{
    background-color: red;

    margin-bottom: 10vh;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer__section__box{
    display: flex;
    flex-direction: column;
}
.footer__section__box__icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}